.slider {
  margin-top: 30px;

  &__item {

    &_text {
      background-color: #3a6988;
      padding: 12px 20px;
      font-size: 26px;
      color: rgb(58, 59, 63);
      line-height: 1;
    }
  }
}